<div class="${theme}" role="presentation">
    <div class="${_css.container}">
        <div title="${i18n.zoomControl.increment.title}" role="button" data-dojo-attach-event="ondijitclick:zoomIn" class="${_css.increment}"><span>${i18n.zoomControl.increment.button}</span></div>
        <div title="${i18n.zoomControl.geolocate.title}" role="button" data-dojo-attach-event="ondijitclick:goHome" class="${_css.home}"><span>${i18n.zoomControl.geolocate.button}</span></div>
        <div title="${i18n.zoomControl.home.title}" role="button" data-dojo-attach-event="ondijitclick:geolocate" class="${_css.geolocate}"><span>${i18n.zoomControl.home.button}</span></div>
        <div title="${i18n.zoomControl.decrement.title}" role="button" data-dojo-attach-event="ondijitclick:zoomOut" class="${_css.decrement}"><span>${i18n.zoomControl.decrement.button}</span></div>
    </div>
</div>